/*icon sizes*/

	.size-12 { font-size: 12px; }

	.size-14 { font-size: 14px; }

	.size-16 { font-size: 16px; }

	.size-18 { font-size: 18px; }

	.size-21 { font-size: 21px; }

	.size-24 { font-size: 24px; }
	.size-30 { font-size: 30px; }
	.size-36 { font-size: 36px; }

	.size-48 { font-size: 48px; }

	.size-60 { font-size: 60px; }

	.size-72 { font-size: 72px; }
* {
	font-family: 'Kadwa', serif;
}
h1 {
	font-family: 'Kadwa', serif;
	text-align: center;
}
.white{
	color:white;
}
a {
	font-family: 'Kadwa', serif;
}
p {
	font-family: 'Kadwa', serif;
	text-align: center;
	font-size: 20px;
}
h3 {
	font-family: 'Kadwa', serif;
	text-align: center;
}
body {
font-family: 'Kadwa', serif;
}

i {
	padding: 30px;
}

.sub-nav{
    margin: 0 auto !important;
    width: -webkit-fit-content;
       width: -moz-fit-content;
            width: fit-content;
    }

.magellan-nav {
  right: 0;
}

.night {
	height: 600px;
	background-image: url(../img/rome2.jpg) ;
	background-size: cover;
	background-position: 75% 25%; 
}

.goal {
	height: 700px;
	background-image: url(../img/atilla.png);
	background-size: cover;
	background-position: center; 
}
.times {
	height: 600px;
	background-image: url(../img/civ5.jpg);
	background-size: cover;
}
.company {
		height: 600px;
	background-image: url(../img/company.jpg);
	background-size: cover;
}

.info {
	padding-top: 25%;
	/*padding-bottom: 5%;*/
/*		  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
*/
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 16px;
    }

}
@import url(http://fonts.googleapis.com/css?family=Lato:300italic);

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /*background: #ee9ca7;*/
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: 150.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.text {
  color: #8b6a60;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style:italic;
  text-align: center;
  h1 {
    font-size: 1.4em;
  }
}  